<div id="main" class="d-flex flex-column justify-content-end align-items-center">
  <h2 class="mb-4 fix-width d-grid"><strong>Hungry? 🍽️</strong></h2>

  <div class="mb-3 fix-width d-grid">
    <button class="btn btn-primary" (click)="navigateToCreateOrder()">Order a pizza</button>
  </div>
  <p>or</p>
  <div class="mb-3 fix-width d-grid text-center">
    <p>Track your pizza</p>
    <div class="input-group">
      <input type="text" class="form-control" [formControl]="orderIdControl" placeholder="Order id">
      <div class="input-group-append">
        <button class="btn btn-primary"
                type="button" ngDefaultControl
                (click)="navigateToMonitOrder()"
                [disabled]="orderIdControl.invalid">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.49 12 3.75 3.75m0 0-3.75 3.75m3.75-3.75H3.74V4.499" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <hr class="mb-4 fix-width"/>
  <div class="mb-3 fix-width d-grid">
    <button class="btn btn-outline-primary" (click)="location.back()">Back
    </button>
  </div>
</div>

